h2{
    margin: auto;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    max-width: max-content;
}
#time_disp{
    margin: auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    border: 2px solid black;
    padding: 5px;
    width: max-content;
}