<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Delete {{ selected_course.name }}</title>
</head>
<body>
    <div class="wrapper">
        <div class="row" id="header">
            <h2>Are you sure you want to delete the following course?</h2>
        </div>
        <div class="row" id="information">
            <table id="course_info">
                <tr>
                    <td class="category">Name:</td>
                    <td>{{ selected_course.name }}</td>
                </tr>
                <tr>
                    <td class="category">Description:</td>
                    <td>{{ selected_course.description.content }}</td>
                </tr>
            </table>
        </div>
        <div class="row" id="buttons">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" formaction="/" name="no_delete" id="no_delete">No</button>
                <button type="submit" formaction="/destroy/{{ selected_course.id }}/confirm/" name="yes_delete" id="yes_delete">Yes! I want to delete this!</button>
            </form>
        </div>
    </div>
</body>
</html>