<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href = "{% static 'css/style.css' %}">
    <title>Random Word</title>
</head>
<body>
    <p>Random Word - Attempt #{{ request.session.attempts }}</p>
    <h1>{{ request.session.word }}</h1>
    <form>
        <p><button type="submit" formaction="/random_word/generate_word">Generate Word</button></p>
        <p><button type="submit" formaction="/random_word/reset">Reset</button></p>
    </form>
</body>
</html>