div.simple_block{
    border: 2px solid black;
    padding: 20px;
    width: 450px;
}
#survey_form input, select, textarea{
    display: block;
    margin: 0px 0px 10px 0px;
}
div.column{
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
div.category{
    display: block;
    text-align: end;
    width: 200px;
}
div.content{
    display: block;
    text-align: start;
    width: 200px;
}