<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Registration and Login</title>
</head>
<body>
    {% if messages %}
    <div class="wrapper messages">
        <ul>
            {% for m in messages %}
            <li{% if m.tags %} class="{{ m.tags }}"{% endif %}>{{ m }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="wrapper">
        <div class="form_wrapper" id="reg_form_wrapper">
            <h2>Registration</h2>
            <form action="/register/" method="POST" id="reg_form">
            {% csrf_token %}
                <table class="form_table" id="reg_form_table">
                    <tr>
                        <td class="category"><label for="first_name">First Name</label></td>
                        <td class="input"><input type="text" name="first_name" id="first_name"></td>
                    </tr>
                    <tr>
                        <td class="category"><label for="last_name">Last Name</label></td>
                        <td class="input"><input type="text" name="last_name" id="last_name"></td>
                    </tr>
                    <tr>
                        <td class="category"><label for="birthday">Birthday</label></td>
                        <td class="input"><input type="date" name="birthday" id="birthday" value="{{ cur_date }}"></td>
                    </tr>
                    <tr>
                        <td class="category"><label for="email">Email</label></td>
                        <td class="input"><input type="text" name="email" id="email"></td>
                    </tr>
                    <tr>
                        <td class="category"><label for="user_pw">Password</label></td>
                        <td class="input"><input type="password" name="user_pw" id="user_pw"></td>
                    </tr>
                    <tr>
                        <td class="category"><label for="confirm_pw">Confirm PW</label></td>
                        <td class="input"><input type="password" name="confirm_pw" id="confirm_pw"></td>
                    </tr>
                    <tr>
                        <td class="form_button" colspan="2"><button type="submit" name="register_button">Register</button></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="form_wrapper" id="reg_form_wrapper">
            <h2>Login</h2>
            <form action="/login/" method="POST" id="login_form">
            {% csrf_token %}
                <table class="form_table" id="login_form_table">
                    <tr>
                        <td class="category"><label for="email">Email</label></td>
                        <td class="input"><input type="text" name="email" id="email"></td>
                    </tr>
                    <tr>
                        <td class="category"><label for="user_pw">Password</label></td>
                        <td class="input"><input type="password" name="user_pw" id="user_pw"></td>
                    </tr>
                    <tr>
                        <td class="form_button" colspan="2"><button type="submit" name="login_button">Login</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>