<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register and Login</title>
</head>
<body>
    {% if messages %}
    <div class="wrapper messages">
        <ul>
            {% for m in messages %}
            <li{% if m.tags %} class="{{ m.tags }}"{% endif %}>{{ m }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="wrapper">
        <p><a href="/logout/">Log Out</a></p>
    </div>
</body>
</html>