body{
    display: flex;
    justify-content: center;
}

/* div */
div.wrapper{
    display: block;
    width: 1000px;
}
#div_top{
    display: flex;
    justify-content: space-around;
}

/* form table */
#add_msg_table{
    width: 90%;
}
#msg_content{
    width: 100%;
    height: 100px;
}
#add_msg_button{
    text-align: right;
}

/* p */
p.msg_header{
    font-weight: bold;
    margin-bottom: 0px;
}